{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
<h1>Cards</h1>

<div class="card-container">
    <p class="cards-row">{{ spades }}</p>
    <p class="cards-row red">{{ hearts }}</p>
    <p class="cards-row red">{{ diamonds }}</p>
    <p class="cards-row">{{ clubs }}</p>
</div>

{% endblock %}
