{% extends "base.html.twig" %}

{% block title %}Draw Card{% endblock %}

{% block body %}
<h1>Draw Card</h1>

<div class="card-container">
    {{ cardString|raw }}
</div>

<p>Remaining cards: {{ remainigCards }}</p>

<form method="post" action="" class="card-game-submit">
    <p>
        <input type="submit" name="draw" value="Draw"
        onClick="this.form.action='{{ path('card_draw') }}';"
        >
     </p>
</form>

{% endblock %}
