{% extends "base.html.twig" %}

{% block title %}Shuffled Cards{% endblock %}

{% block body %}
<h1>Shuffled Cards</h1>

<div class="card-container">
    {{ cardString|raw }}
</div>


<form method="post" action="" class="card-game-submit">
    <p>
        <input type="submit" name="shuffle" value="Shuffle"
        onClick="this.form.action='{{ path('card_shuffle') }}';"
        >
     </p>
</form>


{% endblock %}
