{% extends "base.html.twig" %}

{% block title %}Shuffled Cards{% endblock %}

{% block body %}
<h1>Shuffled Cards</h1>

<div class="link-container">
    <form method="POST" action="{{ path('api-deck-shuffle') }}">
        <button type="submit" class="links">Blanda kortleken</button>
    </form>

    <form method="POST" action="{{ path('api-deck-draw') }}">
        <button type="submit" class="links">Dra ett kort</button>
    </form>
</div>

{% endblock %}
