{% extends "base.html.twig" %}

{% block title %}Shuffled Cards{% endblock %}

{% block body %}
<h1>Shuffled Cards/ draw cards</h1>

<div class="link-container">
    <form method="POST" action="{{ path('api-deck-shuffle') }}">
        <button type="submit" class="links">Shuffle cards</button>
    </form>

    <form method="POST" action="{{ path('api-deck-draw') }}">
        <button type="submit" class="links">Draw a card</button>
    </form>


    <form method="GET" action="{{ path('api-deck-draw-cards-form') }}">
        <button type="submit" class="links">Draw Cards</button>
    </form>



</div>

{% endblock %}
