* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 251, 248);
    line-height: 1.5;
}

/* body {
    background: url('../images/background.jpg');
    background-size: cover;
} */

main {
    max-width: 80%;
    margin: 0 auto;
    /* Växer med innehållet och håller footern på plats */
    min-height: 70vh;
}

h1 {
    border-bottom: 4px double #5b5c5b;
    margin-bottom: 3rem;
    text-align: center;
}

h2, h3 {
    margin-bottom: 1em;
    margin-top: 1em;
}

h3 {
    font-size: 1.3em;
}

header {
    height: 150px;
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.site-title {
    color: rgb(243, 242, 242);
}

nav {
    display: flex;
    justify-content: center; /* Centrera innehållet i navbaren */
    align-items: center;
    background-color: rgb(237, 241, 226);
    margin-bottom: 1.5rem;
    margin-bottom: 4rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Sprida ut länkarna */
    align-items: center;
    font-size: 1.5rem;
    height: 50px;
    width: 50%; /* Gör att ul tar upp 50% av bredden av nav och kan ändras när länkarna ökar */
}

a {
    text-decoration: none;
    color: rgb(92, 94, 95);
}

p {
    font-size: 1.25rem;
    text-align: left;
}

footer {
    background-color: rgb(75, 77, 76);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 80px;
    /* Hjälper med att hålla footern nera vid kort innehåll */
    /* margin-top: 25%; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright {
    padding: 30px;
    margin: 0 auto;
}

.github-icon {
    background-color: white;
    border-radius: 45%;
    margin-right: 30px;
}

.me-img {
    float: left;
    border-radius: 8px;
    padding-right: 20px;
}

.about-container {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 3rem;
}

.about-link {
    color: rgb(1, 61, 37);
    text-decoration: underline;
}

.about-link:hover {
    color: rgb(6, 149, 116);
}

.report-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.kmom-links a {
   color: black;
   text-decoration: underline;
   font-size: 1.3rem;
}

.kmom-links ul {
    display: block;
    align-self: center;
    margin-left: 100px;
    border-left: 1px darkgray solid;
    height: 100%;
}

.kmom-links-titel {
    text-align: center;
    margin-bottom: 10px;
}

.magic-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}


.lucky-img {
    border-radius: 5px;
    margin-top: 4rem;
    border: 1px rgb(234, 236, 234) solid;
    width: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.api-overview ul {
    display: block;
    padding: 10px;
}

.api-overview ul li {
    margin-bottom: 10px;
}

/* Övningen kmom02 */
input {
    font-size: 1em;
    margin: 0.3em;
    margin-top: 1em;
    padding: 0.5em;
}

.die {
    font-size: 2em;
}

.pig-game {
    margin-bottom: 1em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

/* Kmom02 */
.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
.links {
    align-self: self-start;
    margin: 10px;
    text-decoration: none;
    background-color: #3E555C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s; /* Mjuk övergång på hover */
}

.links:hover {
    background-color: #4C7277;
}

.card-container {
    text-align: center;
    font-size: 5.5em;
    display: block;

}

.red {
    color: red;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.uml {
    width: 80%;
    margin-top: 4em;
    border-radius: 10px;
}

.card-game-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.points-text, .winner-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(2, 42, 71);
    text-align: center;
}

.winner-text {
    color: green;
    margin-bottom: 1.4rem;
}

.player {
    text-align: center;
    margin-top: 1.4rem;
    font-size: 2rem;
    color: rgb(4, 62, 80);
}

.game-over {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.status-text {
    font-size: 1.15rem;
    text-align: center;
    margin-top: 1.4rem;
    color: rgb(172, 79, 4);
}

.doc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
}

.flowchart {
    padding: 1rem;
}

.flowchart-img {
    border: 1px solid rgb(115, 114, 114);
    width: 90%;
}

.code {
    background-color: rgb(223, 222, 222);
    font-size: 1.1rem;
    padding: 1.5rem;
    border-radius: 7px;
}

.doc-text {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* Kmom05 'product' */
.example-wrapper ul{
    padding: 2rem;
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
}

.example-wrapper ul li {
    padding: 1rem;
}

.example-wrapper h1 {
    margin-bottom: 3rem;;
}

/* kmom05*/
.book-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.book-link {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.book-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: sans-serif;
}

.book-table th,
.book-table td {
    padding: 0.75rem;
    border: 1px solid #ccc;
    text-align: left;
}

.book-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.book-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-table a {
    color: #007bff;
    text-decoration: none;
}

.book-table a:hover {
    text-decoration: underline;
}

/* .links-center {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    margin: 0 auto;

} */
