{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om mig</h1>

    <img src="{{ asset('img/me.webp') }}" class ="me-img" alt="me">

    <p>
        Nu var det dags att påbörja en ny och intressant kurs, och jag känner att det kommer att bli kul.
        Jag har tidigare genomfört flera kurser på BTH. Jag har en bakgrund inom kemiteknik, men på senare tid har
        mitt intresse för programmering och webbutveckling vuxit.
    </p><br>
    <p>
        Jag tillbringar gärna tid utomhus, både i skogar och vid sjöar, men jag uppskattar även promenader
        i stadsmiljöer. Förutom mitt fotointresse njuter jag också av att titta på dokumentärer,
        vetenskapsprogram och umgås med familj och vänner.
    </p>
    <p><br>
        Jag tycker om att kombinera analytiskt tänkande med estetik, och det är något jag har funnit i programmering.
    </p>

{% endblock %}
