{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Magic number</h1>
    <div class="magic-page">
        <p>Welcome to the awesome magical homepage.</p>
        <p>This is the current magic number: <strong>{{ number }}</strong></p>

        <img src="{{ asset('img/' ~ randomImage) }}" class="lucky-img" alt="Lucky Image">
    </div>


{% endblock %}