{% extends 'base.html.twig' %}

{% block title %}Hitta en bok{% endblock %}

{% block body %}

<h1>Sök en bok med hjälp av Id</h1>
<form method="GET" action="{{ path('find_book_by_id') }}" class="find-book-form">
    <label for="id">Skriv bokens Id-nummer:</label>
    <input type="number" name="id" id="id" required>
    <button type="submit">Sök</button>
</form>

{% endblock %}
