{% extends 'base.html.twig' %}

{% block title %}Uppdatera en bok{% endblock %}

{% block body %}
<h1>Uppdatera en bok med hjälp av id-nummer</h1>
<form method="GET" action="{{ path('show_update_form') }}" class="find-book-form">
    <label for="id">Skriv bokens id-nummer:</label>
    <input type="number" name="id" id="id" required>
    <button type="submit">Hitta</button>
</form>

{% endblock %}
